@font-face {
    font-family: "inter";
    src: url("fonts/InterVariable.ttf");
}



*{
    box-sizing: border-box;
}


body{
    font-family: "inter";
    background-color: #1B2316;
    margin: 0;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
}   


a{
    color: white;
    text-decoration: none;
}



.container{
    width: 100%;
    max-width: 1920px;
}

.header-and-hero{
    position: relative;
    align-self: center;
}

.header-and-hero-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}


header{
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: center;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(0px, 3.298%, 57px);
}

.siteTitleLogo{
    display: flex;
    align-items: center;
}
.siteLogo{
    width: 48px;
    height: 48px;
}

.siteTitle{
    font-size: 28px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.75);
    margin: 0;
}

.siteTitleLink{
    text-decoration: none;
    color: white
}

.header-nav-list{
    display: flex;
    list-style-type: none;
    font-size: 24px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.75);
    gap: clamp(0px, 3.42vw, 59px);
    padding: 0;
    margin: 0;
}

.headerNav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75)
}

.plantsType{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}
.plantsType img:hover{
    cursor: pointer;
}

.plants-type-menu{
    position: absolute;
    top: 37px;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    list-style-type: none;
    background-color: rgba(27, 35, 22, 0.767);
    width: 300px;
    border-radius: 45px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    
    justify-content: center;

}

.plants-type-menu li{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.plants-type-menu li:hover{
    background-color: rgba(255, 255, 255, 0.75);
    color: rgba(27, 35, 22, 0.767);
    cursor: pointer;
}


.header-nav-list .plantsType:hover .plants-type-menu{
    height: 350px;
}



.plants-type-menu-transition{
    height: 350px;
}

.header-nav-list .plantsType .plants-type-polygon{
    transition: transform 0.3s;
}

.header-nav-list .plantsType:hover .plants-type-polygon{
    transform: rotate(180deg);
}


.headerSearchDiv{
    display: flex;
    gap: clamp(0px, 3.42vw, 59px);

}

.headerSearchDiv img{
    height: 26px;
    width: 26px;
    opacity: 0.75;
}

.headerSearchDiv img:hover{
    cursor: pointer;
}

.headerSearchDiv button{
    background-color: transparent;
    border: none;
    padding: 0;
}

.hamMenu{
    width: 100vw;
    max-width: 350px;
    position: absolute;
    top: 0;
    right: 30px;
    transform: translateY(-100%);
    transition: transform 0.5s;
    background-color: hsla(97, 23%, 11%, 0.767);
    z-index: 10;
    border-radius: 45px;
}

.hamMenuTransition{
    transform: translateY(0)
}


.hamMenu ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.hamMenu ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 24px;
}

.hamMenu ul li{
    padding: 20px 35px;
}

.hamMenu ul li:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

.hamMenu ul li:hover a{
    color: #1B2316;
}

.hamMenu .plants-type-polygon{
    position: relative;
    right: 7px;
}

.plants-close{
    background-color: transparent;
    color: white;
    border: none;
    align-self: flex-end;
    margin: 20px 35px;
}
.hamMenu .plantsType:hover .plants-type-polygon{
    color: #1B2316;
    cursor: pointer;

}

.hamMenu .hamClose{
    align-self: flex-end;
    color: white;
    padding: 20px 40px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
}



.hamMenu i:hover{
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    .headerNav{
        display: none;
    }

}

@media only screen and (max-width: 386px){
    .hamMenu{
        right: 0;
    }
} 

.home-hero{
    display: flex;
    justify-content: center;
    align-items: center;
}



.home-hero-Heading{
    grid-area: home-hero-Heading;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    margin-bottom: 22.4%;
    gap: 5px;
}

.home-hero-Plants{
    grid-area: home-hero-Plants;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 77px;
    width: clamp(0px, 40vw, 512px);
    height: clamp(0px, 50.31vw, 644px);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;

}



.home-hero-Plants-div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0px clamp(0px, 5.625vw, 72px);
    flex-shrink: 0;

}


.home-hero-Plants .swiper{
    width: 100%;
    height: 87%;
    overflow: visible;
    overflow-x: clip;
}


.home-hero-Plants .swiper .swiper-pagination{
    bottom: -9%;
    display: flex;
    justify-content: center;
    gap: 11px;
}

.home-hero-Plants .swiper-pagination-bullet{
    opacity: 1;
    background-color: #fff;
    margin: 0 !important;
    width: 6px;
    height: 6px;
    transition: all 0.4s;
}

.home-hero-Plants .swiper-pagination-bullet-active{
    width: 21px;
    border-radius: 46px;
}

.home-hero-Plants .swiper-button-next{
    top: 83.4% !important;
    right: 6.44% !important;
    width: 20px;
    height: 20px;
    color: white;
}

.home-hero-Plants .swiper-button-prev{
    display: none;
}

.home-hero-Reviews{
    grid-area: home-hero-Reviews;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 45px;
    height: 237px;
    width: clamp(0px, 41.23vw, 409px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 40px;
    gap: 22px;
}

.home-hero-container{
    display: grid;
    grid-template-areas: "home-hero-Heading home-hero-Plants"
                         "home-hero-Reviews home-hero-Plants";  
    padding: clamp(20px, 6.02vw, 104px) clamp(20px, 3.298vw, 57px) clamp(40px, 4vw, 69px);
    
}

.home-hero-Heading h2{
    font-size: clamp(0px, 11vw, 118px);
    color: rgba(255, 255, 255, 0.75);
    margin: 0;
    letter-spacing: 0%;
    font-weight: 600;
    width: 100%;

}

.home-hero-Heading p{
    font-size: 23px;
    color: rgba(255, 255, 255, 0.75);
    margin: 0;
    margin-right: 20%;
    margin-bottom: 20px;
}

.home-hero-Links{
    display: flex;
    align-items: center;
    gap: clamp(0px, 2.34vw, 30px);
}

.home-hero-Links .liveDemo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0px, 1.171vw, 15px);
}

.home-hero-Links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}
.explore{
    font-size: clamp(14px, 3.65vw, 38px);
    letter-spacing: 0%;
    width: clamp(100px, 28.3vw, 217px);
    height: clamp(36px, 8.344vw, 64px);
    border: 2px solid white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore:hover{
    background-color: white;
    color: #1B2316;
}
.play-button{
    width: clamp(36px, 8.344vw, 64px);
    height: clamp(36px, 8.344vw, 64px);
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}



.home-hero-Links .liveDemo img{
    width: 38%;
}

.home-hero-Links .liveDemo p{
    margin: 0
}

.home-hero-Plants-div .plantDetails{
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 1.567vw, 20px);
}
.home-hero-Plants-div .plantDetails h4{
    font-size: clamp(18px, 2.32vw, 23px);
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 300;
    margin: 0;
}
.home-hero-Plants-div .plantDetails h3{
    font-size: clamp(0px, 3.83vw, 38px);
    color: rgba(255, 255, 255, 0.75);
    font-weight: 300;
    margin: 0;

}

/* .home-hero-Plants-div .plantDetails .explore{
    opacity: 0.75;
} */

.home-hero-Plants-div img{
    position: absolute;
    top: -24%;
    left: 6%;
    width: clamp(0px, 37.5vw, 480px);
}

.home-hero-Reviews .reviewer{
    display: flex;
    gap: clamp(0px, 2.822vw, 28px);
    padding-left: 7px;
}

.home-hero-Reviews .reviewer .nameAndRating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.home-hero-Reviews .reviewer .nameAndRating h3{
    margin: 0;
    font-size: 22px;
    color: white;
    font-weight: 400;
}

.home-hero-Reviews p{
    margin: 0;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.75);

}

@media only screen and (max-width: 991px){

    .home-hero-Heading{
        margin-bottom: 8vw;
    }
    .home-hero-Plants-div .plantDetails img{
        top: -100px;
    }
}

@media only screen and (max-width: 767px){

    .home-hero{
        padding-top: 0;
    }
    .home-hero-container{
        grid-template-areas: "home-hero-Heading"
                             "home-hero-Plants" 
                             "home-hero-Reviews";
        gap: 8.04vw;
    }

    .home-hero-Heading{
        margin-bottom: 0;
    }

    .home-hero-Heading p{
        font-size: clamp(14px, 3vw, 23px);
    }
    .home-hero-Plants{
        width: 93.5vw;
        height: clamp(176px, 38.46vw, 295px);
        
        padding: 0 clamp(20px, 5vw, 40px);
        
        border-radius: clamp(0px, 8.37vw, 151px);
    }

    .home-hero-Plants-div{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 2vw;
        padding: 0;
    }

    .home-hero-Plants .plantDetails{
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .home-hero-Plants .plantDetails h4{
        font-size: clamp(13px, 3vw, 23px);
;
    }
    .home-hero-Plants .plantDetails h3{
        font-size: clamp(17px, 4.95vw, 38px);

    }

    .home-hero-Plants  img{
        width: clamp(0px, 34.81vw, 267.11px);
        position: relative;
        top: 0;
        left: 0;
        flex: 0 1 auto
    }

    .home-hero-Heading .home-hero-Links a, .home-hero-Plants .plantDetails a{
        font-size: clamp(14px, 3.65vw, 38px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-hero-Reviews{
        width: 100%;
        height: clamp(200px, 27.64vw, 212px);
        padding: 0 clamp(20px, 5vw, 40px);
        gap: clamp(0px, 2.5vw, 20px);
        border-radius: clamp(0px, 8.37vw, 151px);   
    }

    .home-hero-Reviews p{
        font-size: clamp(14px, 2.21vw, 17px);
    }

    .home-hero-Reviews .reviewer{
        padding-left: 5px;
    }

}

@media only screen and (max-width: 400px) {
    .home-hero-Heading p{
        margin-bottom: 13px;
    }
}

.home-hero-trendyPlants{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-hero-trendyPlants-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 clamp(20px, 3.298vw, 57px);
    width: 100%;
}

.home-hero-trendyPlants-Heading{
    position: relative;
}

.home-hero-trendyPlants-Heading h2{
    font-size: clamp(0px, 5.54vw, 55px);
    color: white;
    font-weight: 500;
    letter-spacing: 0%;
    margin: clamp(0px, 1.411vw, 14px) clamp(0px, 2.772vw, 27.5px);

}



.home-hero-trendyPlants-Heading .border{
    width: clamp(0px, 6.955vw, 69px);
    height: clamp(0px, 6.955vw, 69px);
    
    border: 3px solid greenyellow;
    position: absolute;
    bottom: 31px;

}

.home-hero-trendyPlants-Heading .border1{
    border-top: none;
    border-right: none;
    left: 0;
    bottom: 0;
    border-radius: 0 0 0 clamp(0px, 2.318vw, 23px);
}

.home-hero-trendyPlants-Heading .border2{
    border-bottom: none;
    border-left: none;
    border-radius: 0 clamp(0px, 2.318vw, 23px) 0 0;

    right: 0;
    top: 0;
}


.trendyPlantsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6.85%;
    gap: clamp(0px, 8.04vw, 137px);
    width: 100%;
}

.trendyPlant{
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;
    border-radius: clamp(0px, 8.37vw, 151px);
    padding: clamp(0px, 7.3vw, 126px) 3%;
}



.trendyPlant1{
    justify-content: flex-end;
}
.trendyPlant2{
    padding-left: 7.53%;
    justify-content: flex-start;
}
.trendyPlantImage{
    position: absolute;
    z-index: -1;
}

.trendyPlant1 img{
    left: 1.5%;
    bottom: 10%;
    aspect-ratio: 668 / 612;
    width: clamp(0px, 42%, 677px);
} 

.trendyPlant2 img{
    right: 11%;
    bottom: 3%;
    aspect-ratio: 406 / 613;
    width: 25.7%;
}

.trendyPlantDetail{
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 1.39vw, 24px);
}

.trendyPlant1 .trendyPlantDetail{
    width: 47.2%;
}

.trendyPlant2 .trendyPlantDetail{
    width: 50.57%;
}
.trendyPlantDetail h3{
    font-size: clamp(17px, 3.83vw, 38px);
    font-weight: 500;
    margin: 0;
    letter-spacing: 0%;
}

.trendyPlantDetailInfo{
    font-size: clamp(12px, 2.6vw, 20px);
    font-weight: 500;
    margin: 0;
    letter-spacing: 0%;
}


.trendyPlant .exploreAndCart{
    display: flex;
    gap: clamp(0px, 1.85vw, 32px);
}

.trendyPlant .bagDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width : clamp(36px, 8.344vw, 64px);
    height: clamp(36px, 8.344vw, 64px);
    border: 2px solid white;
    border-radius: 12px;

}

.bagDiv:hover{
    background-color: white;
    cursor: pointer;
}

.bagDiv .bag{
    width: 53.125%;
}

@media only screen and (max-width: 991px){
    .trendyPlantImage{
 
    }
    .trendyPlant{

    }
}

@media only screen and (max-width: 767px) {
    .trendyPlant{
        padding: clamp(0px, 7.3vw, 126px) clamp(20px, 5vw, 40px);
    }
    .trendyPlantImage{
        opacity: 0.85;
    }
    .trendyPlant1 .trendyPlantDetail, .trendyPlant2 .trendyPlantDetail{
        width: 100%;
    }

    .trendyPlant1 img{
        left: 56%
    }
}